.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__username
        araki
      %ul.side-header__box__menu
        %li.side-header__box__edit-user
          = link_to new_group_path, class: "edit-icon" do
            = icon('fas', 'edit')
        %li.side-header__box__new-group
          = link_to edit_user_path(current_user), class: "cog-icon" do
            = icon('fas', 'cog')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group.id), class: "grouplink" do
          .group__name
            = group.name
          .group__message
            = group.show_last_message